<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Twitter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/static/style.css" th:href="@{/resources/static/style.css}">
    <link rel="shortcut icon" th:href="@{/resources/static/favicon.ico}"/>
</head>
<body>
<div class="container d-flex align-items-center">
    <div class="header d-flex align-items-center justify-content-end">
        <a class="p-2" href='getTweets'><img class="logo" th:src="@{/resources/icons8-twitter-48.png}"></a>
        <nav class="">
            <a class="p-2" th:href='getTweets'>Tweets </a>
            <a class="p-2" th:href='logout'>Log out</a>
        </nav>
    </div>
</div>
<div class="box blue"></div>
<br>
<br>
<center><br><span class="error" th:text="${completeMessage}"></span><br></center>
<form class="form-signin" method="post" action="profile">
    <h1 class="h3 mb-3 font-weight-normal">Update profile</h1>
    <div class="form-group"><input type="text" class="form-control" name="user_name" placeholder="Name"
                                   th:value="${oldName}"/>
    </div>
    <div class="form-group"><input type="text" class="form-control" name="user_email" placeholder="Email"
                                   th:value="${oldEmail}"/>
    </div>
    <a class="btn btn-lg btn-block btn-link" th:href="updatePassword">Update password</a>
    <center><br><span class="error" th:text="${errorMessage}"></span><br></center>
    <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Change</button>
    <br>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</body>
</html>